[user]
	email = nsavic@thoughtworks.com
	name = Nikola Savic
  signingkey = D7D10255BD64B46C
[pull]
	rebase = true
[core]
	excludesfile = /Users/nikola/.gitignore
	autocrlf = input
[commit]
	template = /Users/nikola/.gitmessage
  gpgsign = true
