[user]
	email = thoughtworks.savic@mbusa.com
	name = Nikola Savic
[pull]
	rebase = true
[core]
	excludesfile = /Users/nikola/.gitignore
	autocrlf = input
  pager = delta
[commit]
	template = /Users/nikola/.gitmessage
[credential]
	helper = osxkeychain
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = zdiff3
